.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
}
.column {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    margin: 10px;
}

.panelRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

